<div class="recipe" data-ingredients="3" data-cuisine={{cuisine}} data-cooktime={{cooktime}} data-mealtime={{mealtime}} data-_name={{name}}>
 <div class="recipe-contents">
  <div class="recipe-image-container">
      <img src="https://meyousimplicity.files.wordpress.com/2014/04/dsc_0085.jpg" alt={{name}}> </div>
  <div class="recipe-info-container">
      <div class="recipe-title"><h4>{{name}}</h4>
      <div><i class="fa fa-clock-o" aria-hidden=""true></i><span class="recipe-cooktime"> {{cooktime}}</span></div>
      </br>
      <span class="Ingr"> Ingredients</span>
      <span class="recipe-ingred"></br>{{ingredients}} </span>
  </div>
  </br>
      <span class="steps"> Steps </span>
      </br>
    <div class="recipe-instructions">
       <span class="instructionss">{{instructions}}</span>
    </div>
    </br>
    <span class="recipe-mealtime"> {{mealtime}}    </span>
      <span class="recipe-cuisine"> Cuisine: {{cuisine}}</span>
  </div>
 </div>
</div>